.app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.chatbot-toggle.is-open{
  bottom: 20px;
  right: 20px;
  transform: translate(0, 0);
}

.chatbot-container {
  position: fixed;
  top: 20px;
  bottom: 20px;
}